import Foundation

class Env {
    static var customerIOSiteId: String = "siteid"
    static var customerIOApiKey: String = "apikey"
    static var customerIORegion: String = "us" // "us" or "eu"
    // if you want to use test against local backend use "http://localhost:9100/" as the value
    static var customerIOTrackURL: String = ""
}
