import Foundation

class Env {
    static var customerIOSiteId: String = "XXX"
    static var customerIOApiKey: String = "YYY"
    static var customerIORegion: String = "us" // "us" or "eu"
    static var customerIOInAppOrganizationId: String = "ZZZ"
}
